* {
  font-family: system-ui, 'Helvetica Neue', sans-serif;
}

#boxes {
  display: flex;
  justify-content: center;
  margin: 10vh 0;

  .box {
    width: 500px;
    height: 100%;
    max-height: 650px;

    border: 1px solid #ddd;
    padding: 10px 10px 0 10px;
    margin-right: 2.5%;

    overflow: auto;

    &:last-child {
      margin: 0;
    }

    > * {
      width: 100%;
      text-align: left;
    }

    li {
      margin-left: 20px;
    }
  }
}

main {
  padding: 15px;
}

li {
  margin-bottom: 10px;
  font-size: 14px;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 15px 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  color:      #000;
  background: #eee;

  display:   block;
  font-size: 13.5px;
  border:    1px solid #ddd;

  padding: 5px;
  margin-bottom: 10px;
}

button[disabled] {
  color:  #999;
  cursor: not-allowed;
}

button:not([disabled]) {
  cursor: pointer;

  &:hover {
    background: #ddd;
  }

  &:active {
    background: #ccc;
  }
}
